SBT_PROJECT_DIR = ${SRCROOT}/..
SBT_PROJECT_BUILD_DIR = ${SBT_PROJECT_DIR}/target
SBT_MOE_OUT_DIR = ${SBT_PROJECT_BUILD_DIR}/moe
SBT_MOE_BUILD_DIR = ${SBT_MOE_OUT_DIR}/build


MOE_SECT_OAT_FLAGS = -sectcreate __OATDATA __oatdata "${SBT_MOE_BUILD_DIR}/${PLATFORM_NAME}/${arch}/${CONFIGURATION}/application.oat"

MOE_SECT_ART_FLAGS = -sectcreate __ARTDATA __artdata "${SBT_MOE_BUILD_DIR}/${PLATFORM_NAME}/${arch}/${CONFIGURATION}/image.art"

MOE_SEGPROT_FLAGS[sdk=iphoneos*] = -segprot __OATDATA rx rx -segprot __ARTDATA rw rw
MOE_SEGPROT_FLAGS[sdk=iphonesimulator*] = -segprot __OATDATA rwx rx -segprot __ARTDATA rwx rw

MOE_PAGEZERO_FLAGS[sdk=iphoneos*] =
MOE_PAGEZERO_FLAGS[sdk=iphonesimulator*] = -pagezero_size 4096

MOE_OTHER_LDFLAGS = ${MOE_SECT_OAT_FLAGS} ${MOE_SECT_ART_FLAGS} ${MOE_SEGPROT_FLAGS} ${MOE_PAGEZERO_FLAGS} -lstdc++

ENABLE_BITCODE = NO

DEAD_CODE_STRIPPING = NO
STRIP_STYLE = "non-global"
FRAMEWORK_SEARCH_PATHS = "${SBT_MOE_BUILD_DIR}/${PLATFORM_NAME}/"
OTHER_LDFLAGS = ${MOE_OTHER_LDFLAGS}
EMBEDDED_CONTENT_CONTAINS_SWIFT = NO
